<div class="col-2 sidebar">
    <ul class="list-group cat-group">
        <a href="/dashboard">
            <li class="list-group-item">Dashboard</li>
        </a>
        <a href="/dashboard/recent_orders">
            <li class="list-group-item">View Orders</li>
        </a>
        <a href="/dashboard/account">
            <li class="list-group-item">Account Info</li>
        </a>
        <a href="/favorites">
            <li class="list-group-item">Favorites</li>
        </a>
    </ul>
</div>